@import 'src/global/styles/mixins.scss';

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  &-flex {
    display: flex;
    flex-wrap: wrap;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}